header {
    flex-direction: row;
    justify-content: center;
    display: flex;
    padding: 40px;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: gold;
    text-align: center;
}

h2 {
    text-align: center;
}

.login {
    background-color: purple;
    color: gold;
    font-family: 'Courier New', Courier, monospace;
    width: 40%;
    text-align: center;
    max-width: 500px;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 20px;
}

.loginInput {
    min-width: 100px;
    max-width: 400px;
    width: 50%;

}

#guestSignIn {
    color: white;
    margin-top: 20px;
    size: medium;
}