.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

table, th, td {
    border:1px solid black;
    text-align: center;
}

.matchInfo {
    position: relative;
    justify-content: left;
}

.capabilities {
    position: relative;
    justify-content: right;    
}

#matchNum{
    width: 30px;
}

#teamNum {
    width: 50px;
}

.buttonContainer {
    justify-content: center;
    display: flex;
}