h1 {
    font-family: monospace;
    text-align: center;
}

.qualContainer{
    display: flex;
    justify-content: center;
    display: flex;
}

table, th, td {
    border:1px solid black;
    text-align: center;
}

#matchVideo {
    font-size: small;
}

#timeInput {
    border-color: white;
    width: 100px;
    
}
#matchInput{
    border-color: white;
    width: 30px;
}

#redAlliance{
    background-color: red;
    font-size: 20px;
}

#redInput{
    background-color: red;
    width: 60px;
}

#blueAlliance{
    background-color: blue;
    font-size: 20px;
}

#blueInput{
    background-color: blue;
    width: 60px;
}

#addRowButton{
    position: left;
    margin-left: 153px;
}

#saveButton{
    position: right;
    margin-left: 500px;
}
