h1 {
    font-family: monospace;
    text-align: center;
}

.qualContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttonContainer{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.buttonGroup{
    flex: 1;
    display: flex;
    align-items: center;
}

#addRowButton{
    margin-right: 10px;
}

table, th, td {
    border:1px solid black;
    text-align: center;
}

.matchVideo {
    font-size: small;
}

.timeInput {
    border-color: white;
    width: 100px;
    
}
.matchInput{
    border-color: white;
    width: 30px;
}

.redAlliance{
    background-color: red;
    font-size: 20px;
}

.redInput{
    background-color: red;
    border-color: red;
    width: 60px;
}

.blueAlliance{
    background-color: blue;
    font-size: 20px;
}

.blueInput{
    background-color: blue;
    border-color: blue;
    width: 60px;
}
