header {
    background-color: black;
    flex-direction: row;
    justify-content: center;
    display: flex;
    padding: 40px;
    border-radius: 20px;
}

nav {
    flex-direction: row;
    background-color: gold;
    border-radius: 12px;
    display: flex;
    font-size: 130%;
    padding: 20px;
    font-family: arial;
    font-weight: 600;
    margin-bottom: 20px;
    justify-content: space-evenly;
    gap: 50px;
    flex-wrap: wrap;
}

#pracSchedLink {
    margin-top: 5px;
    float: left;
    background-color: gold;
    border: purple;
    font-size: 120%;
    border-radius: 10px;
    padding: 3px;
}

h1 {
    margin-top: 5px;
    font-size: 200%;
    font-family: monospace;
    text-align: center;
    color: white;
}

.qualContainer{
    display: flex;
    max-width: max-content;
    margin-left: auto;
    margin-right: auto; /* Having both margins centers the table */
    user-select: none;
    
}

.buttonContainer{
    margin-top: 10px;
    float: right;
}

#removeRowButton{
    background-color: gold;
    margin-top: 10px;
}

#resetButton{
    background-color: gold;
    font-size: 50%;
    margin-top: 40px;
    display: flex;
}

#saveButton {
    background-color: gold;
}

#table, th, td {
    border:1px solid white;
    text-align: center;
    justify-content: center;
    
}

.timeInput {
    border-color: gold;
    text-align: center;
    width: 89%;
}

.time {
    background-color: gold;
    color: purple;
    font-weight: 550;
    width: 15%;
}

.matchInput{
    border-color: gold;
    text-align: center;
    width: 74%;
}

.matchNumber {
    background-color: gold;
    color: purple;
    font-weight: 550;
    width: 7%;
}

.redInput{
    border-color: red;
    text-align: center;
    width: 80%;
}

.redAlliance {
    background-color: red;
    color: white;
    font-weight: 550;
    width: 10%;
}

.blueInput{
    border-color: blue;
    width: 80%;
    text-align: center;
}

.blueAlliance {
    background-color: blue;
    color: white;
    font-weight: 550;
    width: 10%;
}