header {
    background-color: black;
    flex-direction: row;
    justify-content: center;
    display: flex;
    padding: 25px;
    border-radius: 20px;
}

nav {
    flex-direction: row;
    background-color: gold;
    border-radius: 10px;
    display: flex;
    font-size:larger;
    padding: 20px;
    font-family: arial;
    font-weight: 600;
    margin-bottom: 20px;
    justify-content: space-around;
}

#pracSchedLink {
    margin-top: 5px;
    float: left;
    background-color: gold;
    border: purple;
    font-size: large;
    border-radius: 10px;
    padding: 3px;
}

h1 {
    margin-top: 5px;
    font-size: 200%;
    font-family: monospace;
    text-align: center;
    color: white;
}

.qualContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonContainer{
    margin-top: 10px;
    float: right;
}

#removeRowButton{
    background-color: gold;
}

#saveButton {
    background-color: gold;
}

table, th, td {
    border:1px solid white;
    text-align: center;
}

.linkInput {
    /* background-color: gold; */
    border-color: gold;
    text-align: center;
    width: 70px;
}

.matchVideo {
    background-color: gold;
    color: purple;
    font-weight: 550;
    max-width: 70px;
}

.timeInput {
    /* background-color: gold; */
    border-color: gold;
    text-align: center;
    width: 35px;
}

.time {
    background-color: gold;
    color: purple;
    font-weight: 550;
}

.matchInput{
    /* background-color: gold; */
    border-color: gold;
    text-align: center;
    width: 40px;
}

.matchNumber {
    background-color: gold;
    color: purple;
    font-weight: 550;
}

.redInput{
    /* background-color: red; */
    border-color: red;
    width: 45px;
    text-align: center;
}

.redAlliance {
    background-color: red;
    color: white;
    font-weight: 550;
}

.blueInput{
    /* background-color: purple; */
    border-color: blue;
    width: 45px;
    text-align: center;
}

.blueAlliance {
    background-color: blue;
    color: white;
    font-weight: 550;
}